@font-face {
    src: url('fonts/PixelatedEleganceRegular-ovyAA.ttf');
}

* {
	-fx-font-family: 'Pixelated Elegance Regular';
}

.text-field {
	-fx-background-color: black;
	-fx-border-color: blue;
	-fx-mid-text-color: white;
}

.choice-box .context-menu {
	-fx-background-color: black;
	-fx-border-color: blue;
}

.choice-box {
	-fx-background-color: black;
	-fx-border-color: blue;
	-fx-border-width: 1;
	-fx-border-style: solid;
	-fx-mid-text-color: white;
	-fx-light-text-color: white;
	-fx-mark-color: white;
}
